@import 'nib'

body 
  margin 0 auto
  width 900px
  color #dimGray
  background-color #EFEFEF
  margin-top 25px
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300

  > header
    width 200px
    height 100%
    float left
    position fixed
    text-align center

    img
      width 150px

    a
      text-decoration none

  #content
    width 700px
    float right 

  nav > ul 
    margin 0 auto
    padding 0

.post
  background-color #FFF
  padding 10px 20px 30px 20px
  margin-bottom 20px
  border-radius: 5px

  img
    max-width 500px
    margin 0 auto
    display block

  a
    color #C67B7B
    text-decoration none

img
  width 20%

