extends layout

block content
  include project
  - var section = contents['index.json'].metadata.sections
  - each section in sections
    - if (section.title == "projects")
      mixin projects
    - else
      - var content = contents[section.filename].html
      article.post!= content
